<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel="stylesheet" th:href="@{/resources/css/todos.css}"/>
    <script th:src="@{/resources/js/todos.js}"></script>
</head>
<body>

<div th:insert="fragments/navbar :: navbar">
</div>
<main role="main" class="flex-shrink-0">
    <section class="jumbotron text-center todosJumbo">
        <div class="container">
            <h1 class="jumbotron-heading">Björn's Todo's</h1>
            <p class="lead text-muted">
                Yes, these are your todo's. Get to work!
            </p>
        </div>
    </section>
    <div class="album py-5 bg-light">
        <div class="container text-muted">
            <div class="row">
                <div class="col-md-4" th:each="todo : ${todos}">
                    <div class="card mb-4 box-shadow text-white todo-card"
                         th:classappend="${todo.done.booleanValue()} ? 'bg-info' : 'bg-danger'">
                        <div class="card-header">
                            <div class="todo-card-date" th:text="${todo.getCreatedOnFriendlyFormat()}">Test</div>
                            <form th:id="delete+${todo.id}" th:action="@{/todos/delete/{id}(id=${todo.id})}" th:method="post">
                                <button type="submit" class="btn btn-info btn-sm todo-card-delete">X</button>
                            </form>
                        </div>
                        <div class="card-body clearfix">
                            <h5 th:text="${todo.title}" class="card-title">Card title</h5>
                            <p th:text="${todo.description}" class="card-text">Dummy Text</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <a th:href="@{/todos/{id}/edit(id=${todo.id})}" class="btn btn-outline-light btn-sm">Edit
                                Todo</a>
                            <form th:id="toggle+${todo.id}" th:action="@{/todos/toggle/{id}(id=${todo.id})}" th:method="put">
                                <button type="submit" th:if="${!todo.done}" class="btn btn-info btn-sm">Done</button>
                                <button type="submit" th:if="${todo.done}" class="btn btn-outline-dark btn-sm" >Re-Open</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer mt-auto py-3 fixed-bottom text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a class="btn btn-info btn-lg my-2" th:href="@{/todos/new}">Create New Todo</a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>